
body {
    background-color: hsla(12, 97%, 28%, 0.329) ;
}

.header{
    color: #ffc400;
}

div.outerBox {
    background-color: rgba(230, 172, 14, 0.959);
    border:solid black;
  }

div.insideBox {
    margin: 7px;
    background-color: #FFFFFF;
    opacity: 0.6;
    padding: 5px;
  }

#quoteKanye {
  font-weight: bold;
  font-style: italic;
}

#directions {
  color: green;
  font-weight: 900;
  margin: auto;
}

.btn {
  background-color: green;
  padding: 10px;
}