body {
  background-color: rgba(107, 26, 3, 0.733) ;
}

.header{
  color: #ffc400;
  text-align: center;
}

div.outerBox {
  background-color: rgba(230, 172, 14, 0.959);
  border:solid black;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 20px;
}

div.insideBox {
  margin: 7px;
  background-color: #FFFFFF;
  opacity: 0.6;
  padding: 5px;
  text-align: center;
  border-radius: 10px;
}

#quoteKanye {
font-weight: bold;
font-style: italic;
text-align: center;
}

#directions {
color: rgb(185, 17, 17);
font-weight: 900;
margin: auto;
text-align: center;
}

.btnStart, .btnGetBeweries, .btnBack {
background-color: rgb(110, 150, 202);
padding: 10px;
margin-left:auto;
margin-right:auto;
display:block;
margin-top: 15px;
}

.hide {
display: none;
}

.pageTwoImages {
  width: 50px;
  height: 50px;
  padding-left: 40px;
}

.container {
  position: relative;
  width: 50%;
  text-align: center;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(110, 150, 202);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .9s ease;
  border-color: white;
  border-radius: 20px;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  font-size: 17px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  word-wrap: break-word;
}

.resultsBox {
  border: black;
  border-top-style: dashed;
  padding-top: 10px;
  padding-bottom: 5px;
}

.back-to-top-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  line-height: 3rem;
  text-align: center;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: #D6E3F0;
  // emoji don't behave like regular fonts
  // so this helped position it correctly
  padding: 0.25rem;
}